nav
{
    font-size: 20px;
    background-color: #fed00d;
    color: #272727;
}
.nav-item:hover, .nav-item.active
{
    text-decoration: underline;
}

.logo
{
    width: 80px;
    height: 80px;
}

.popis_logo
{
    color: #272727;
    font-weight: bold;
    margin-right: 5px;
}

body
{
    position: relative;
    margin-top: 130px;
    background-color: #272727;
    min-height: 100vh;
    padding-bottom: 150px;
}

.nadpis
{
    font-family: sans-serif;
    font-weight: bold;
    font-size: 45px;
    color: white;
    text-align: center;
}
.nadpis2
{
    font-size: 40px;
    color: #fed00d;
    text-align: center;
}

.text_hl_stranka
{
    font-size: 20px;
    color: white;
    text-align: center;
}

.but_objednat
{
    color: #272727;
    font-weight: bold;
    align-items: center;
    border: #fed00d solid 1px;
    border-radius: 5px;
    background-color: #fed00d;
}

.but_objednat:hover
{
    background-color: #272727;
    color: #fed00d;
}

.but_objednat_zaj
{
    color: #fed00d;
    font-weight: bold;
    align-items: center;
    border: #fed00d solid 1px;
    border-radius: 5px;
    background-color: #272727;
    margin-bottom: 10px;
}

.but_objednat_zaj:hover
{
    background-color: #fed00d;
    color: #272727;
}

.obrazok_hl_stranka
{
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 50px;
}

.pata
{
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #272727;
}

.profil
{
    text-align: center;
    background-color: #fed00d;
    border-radius: 15px;
    border: solid 10px #272727;
    color: black;
}

.tourGuyNadpis
{
    font-size: 30px;
    color: white;
    font-weight: bold;
}

.oNasText
{
    color: white;
    margin-bottom: 25px;
    font-size: 20px;
}

.nadpis_profil
{
    font-size: 20px;
}

.img_profil
{
    height: 120px;
    width: 120px;
    border-radius: 50%;
    margin: 10px;
}

.img_country
{
    margin: 10px;
}

.carousel-item
{
    height: 900px;
}

@media (max-width: 991px)
{
    .carousel-item
    {
        height: 400px;
    }
}

.obj_position_top
{
    object-position: top;
}

.carousel-item img
{
    object-fit: cover;
    height: 100%;
}



